body {
  background-color : #ffee99;
}

p, li {
  font-size : 14pt;
  font-family : serif;
}

a {
  color : #118844;
  font-style : normal;
  font-weight: bold;
  text-decoration : none;
}

a:hover {
  color : #006622;
  text-decoration : underline;
}
