/* Global style choices */

body {
  background-color: #ffffff;
  background-image: url("pentatile.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: DejaVuSerif, Edwin Roman, serif;
  font-size: 13pt;
}

a {
  color: #006900;
  /*color: #003192;*/
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #920092;
  text-decoration: underline;
}

/* Overall layout */

.wrapper {
  position: absolute;
  float: center;
  width: 97%;
  display: flex;
}

.navbar, .content {
  float: left;
  position: relative;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.69);
}

/*
.foot {
  float: bottom;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.69);
  width: 98.5%;
  font-size: 14pt;
}
*/

/* Navigation bar */

.navbar  {
  min-width: 300px;
  left: 0%;
  padding: 1px;
}

.navbar ul {
  list-style-type: "\1F338";
  margin-top:  3px;
  margin-left: 22px;
  padding: 1px;
}

a.navheader {
  display: block;
  border-radius: 7px;
  background: #006900;
  color: #ffffff;
  text-align: center;
  padding: 3px 0;
  border-top:    1px solid #004200;
  border-bottom: 1px solid #004200;
  font-weight: bold;
  text-decoration: none;
}

a:hover.navheader {
  text-decoration: none;
  background: #aaddaa;
  color: #420042;
}

/* Content */

.content {
  left:  1%;
  right: 11px;
  float: none;
  flex-grow: 100;
  padding: 11px;
}

.content p {
  text-indent: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.content a {
  font-weight: medium;
}

.content table {
  margin-left: auto;
  margin-right: auto;
}

.content table {
  width: 100%;
}

.content tr.header {
  border-bottom: 1px solid #666;
}

.content th, td {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

ul.outline {
  list-style-type: "\1F338";
  margin-left: 34px;
  margin-top:   0px;
}

/* Stuff for previews */

.block {
  width: 100%;
  float: left;
  display: block;
  margin-top: 11px;
  margin-left: 0px;
  border-radius: 12px;
  padding: 2px;
  background-color: rgba(22,76,22,0.11);
}

.heading {
  width: 98%;
  float: left;
  display: block;
  background-color: #006900;
  border-radius: 7px;
  color: #aaddaa;
  padding: 6px;
}

.heading a {
  color: #ffffff;
}

.heading a:hover {
  color: #ddaadd;
}

.title {
  float: left;
  position: relative;
  display: flex;
  font-size: 15pt;
}

.date {
  float: right;
  position: relative;
  display: flex;
  font-size: 13pt;
  font-weight: bold;
}

.contentpreview {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 22px;
  padding-bottom: 11px;
  width: 100%;
}
